.product-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 50%;
    position: relative;
    left: 28%;
    text-align: center;
    margin-top: 20px;
    border: 2px solid rgb(174, 170, 170);
    padding: 10px;
    border-radius: 10px;
}

.product-container img{
    width: 100px;
    height: 100px;
}
.rm-button{
    display: flex;
    align-items: center;
}
.rm-button button{
    
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button-quantity span{
    color:rgb(255, 255, 255);
   
}

.button-quantity button {
    background-color: #4CAF50;
   
    border: none;
  
    color: white;
    padding:2px 3px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

.button-quantity button:hover {
    background-color: #bb0a45;
   
}

.text{

   
    text-align: center;
    gap: 10px;
}
.text p{
    text-align: center;
}