.product-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 50%;
    position: relative;
    left: 28%;
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.product-container img{
    width: 100px;
    height: 100px;
}
.rm-button button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-quantity button{
    background-color: rgb(152, 255, 7);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
