.product-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 50%;
    position: relative;
    left: 28%;
    text-align: center;
}

.product-container img{
    width: 100px;
    height: 100px;
}